@page
@model OnlineBrief24.Pages.UploadModel
@{
}
<div class="modal-dialog" role="document">
	<div class="modal-content rounded-5 shadow">
		<div class="modal-header p-5 pb-4 border-bottom-0">
			<h2 class="fw-bold mb-0">Upload</h2>
		</div>

		<div class="modal-body p-5 pt-0">
			<form method="post" asp-page="Upload">

				<div class="mb-3">
					<label for="InputAccount" class="form-label">Kostenstelle</label>
					<input type="text" class="form-control" id="InputAccount" asp-for="Account">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect02" asp-for="Colored">Modus</label>
					</div>
					<select class="custom-select w-50" id="inputGroupSelect02">
						<option value="0">Schwarz/Weiß</option>
						<option value="1">Farbig</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect03" asp-for="Envelope">Kuvert</label>
					</div>
					<select class="custom-select w-50" id="inputGroupSelect03">
						<option value="0">DIN lang-Kuvert *</option>
						<option value="1">C4-Kuvert</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect04" asp-for="ShippingZone">Versandzone</label>
					</div>
					<select class="custom-select w-50" id="inputGroupSelect04">
						<option value="0">Automatische Versandzonenwahl</option>
						<option value="1">National (Deutschland)</option>
						<option value="2">Nicht belegt (ehemals Europa)</option>
						<option value="3">International (ehemals Welt)</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect05" asp-for="RegisteredMail">Einschreiben</label>
					</div>
					<select class="custom-select w-50" id="inputGroupSelect05">
						<option value="0">Kein Einschreiben</option>
						<option value="1">Einschreiben Einwurf **</option>
						<option value="2">Einschreiben Standard</option>
						<option value="3">Einschreiben Eigenhändig</option>
					</select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect06" asp-for="PaymentSlip">Zahlschein</label>
					</div>
					<select class="custom-select w-50" id="inputGroupSelect06">
						<option selected>Zahlschein</option>
						<option value="0">Kein Zahlschein</option>
						<option value="1">Nicht belegt (ehemals Inlands-Zahlschein)</option>
						<option value="2">SEPA-Zahlschein</option>
					</select>
				</div>
				<div class="mb-3">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault" asp-for="SaveToDatabase">
						In der Datenbank speichern
					</label>
				</div>
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">Dateien hochladen</label>
					<input class="form-control" asp-for="Upload" type="file" id="formFileMultiple" multiple>
				</div>
				@if (@Model.ErrorMessage != null)
				{
					<div class="alert alert-danger" role="alert">
						<center>@Model.ErrorMessage</center>
					</div>
				}
				@if (@Model.SuccessMessage != null)
				{
					<div class="alert alert-success" role="alert">
						<center>@Model.SuccessMessage</center>
					</div>
				}
				<div class="btn-group">
					<input class="btn btn-success" type="submit" style="width:50%" value="Hochladen" asp-page-handler="Upload">

				</div>
				<div class="btn-group">
					<input class="btn btn-danger" type="reset" style="width:50%" value="Zurücksetzen">
				</div>
			</form>
		</div>
	</div>
</div>